ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar {
    display: inline-block;
}

li {
    float: left;
}

a {
    display: block;
    padding: 10px;
    background-color: yellow;
}

h1 {
    text-align: center;
}